 <div class="banner">
    <img src="../assets/profile.png">


      <div class="search">
       
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search artists,songs,albums"
            aria-label="Search"
          />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
       
      </div>
  
   
 <div class="RAB">R&B </div>
 <div class="Pop">Pop</div>
 <div class="Rap">Rap</div>
 <div class="Ballad">Ballad </div> 
 <div class="country">country </div> 
 <div class="hiphop">hiphop </div> 
 

<div class="max">
 <i class="bi bi-three-dots"></i>
 <i class="bi bi-heart"></i>
 <button type="button" class="btn btn-danger">play</button>
</div>
 <div class="feature">FEATURED SONGS </div>
 <div class="post">Post Malone</div>
 <div class="circle">Circles</div>

 
 </div>
 

 
 
 
 
 
 
 
 
 