.banner{
    position: absolute;
    left: 310px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
 
    border-radius: 7.63014px;
}
.RAB{
   
    width: 29.57px;
    height: 19.08px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.3527px;
    line-height: 16px;
    margin-top: -150px;
    color: white;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.Pop{
    width: 32.43px;
height: 24.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17.1678px;
line-height: 21px;
display: flex;
align-items: center;
color: #272727;
flex: none;
order: 1;
flex-grow: 0;
}
.Rap{
   
    width: 29.57px;
    height: 19.08px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.3527px;
    line-height: 16px;

    color: white;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.Ballad{
     
    width: 29.57px;
    height: 19.08px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.3527px;
    line-height: 16px;

    color: white;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.country{
   
    width: 29.57px;
    height: 19.08px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.3527px;
    line-height: 16px;

    color: white;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.hiphop{
   
    width: 29.57px;
    height: 19.08px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.3527px;
    line-height: 16px;
  
    color: white;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.search{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-left: -250px;

position: absolute;
width: 484.04px;
height: 47.69px;
left: calc(50% - 484.04px/2 - 0.11px);
top: 19.08px;



background: #FFFFFF;
opacity: 0.9;
box-shadow: 0px 0px 16.6909px rgba(0, 0, 0, 0.5);
border-radius: 4.76884px;
}
.feature{
margin-left: 800px;
margin-top: -210px;
width: 122px;
height: 16px;
right: 28.96px;
bottom: 215.77px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13.3527px;
line-height: 16px;
display: flex;
align-items: center;
text-align: right;
color: #FAFAFA;

}
.post{
margin-left: 800px;
margin-top: 60px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 22.8904px;
line-height: 28px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.1em;
color: #FAFAFA;
}
.circle{
    margin-left: 800px;
     margin-top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 38.1507px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: right;  
    color: #FAFAFA;
    flex: none;
    order: 1;
    flex-grow: 0;;

    
}
.max{
    margin-left: 800px;
    margin-top: -50px;
}
